li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

a:hover {
  color: rgba(152, 119, 125, 0.784);
}
/* HEADER SECTION */

header {
  position: relative;
  padding: 0 2 rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  margin-left: 90px;
  font-size: 1.9rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Responsive Header */
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
    margin-right: 20px;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown-menu{
    left: 2rem;
    width: unset;
  }
}